// Project Page Header

.project-header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
}

.project-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.th-monogram-wrap img{
    width: 93px;
}